body{
  background-color: #f5f6fa;
  margin: 0;
  height: 100vh;
  font-family: OpenSans, Arial, sans-serif;
  overflow: hidden;
}

nav {
  width: 100%;
  background-color: #dae0ed;
  padding: 10px 50px;
  display: flex;
}

.logo{
  height: 50px;
}

.welcome-text{
  width: 50%;
  max-width: 670px;
  text-align: center;
  color: #383838;
  font-weight: 600;
  margin-bottom: 60px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px); 
  flex-direction: column;
}

.button {
  width: 150px;
  background-color: #9c73ff;
  border-radius: 10px;
  display: flex;
  padding: 7px;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.button-icon img {
  height: 30px;
}

.button-icon  {
  display: flex;
  margin-right: 30px;
}

.task-manager-container {
  width:80%;
  background-color: white;
  border: 1px solid #dae0ed;
  border-radius: 30px;
}

.month {
  color: #383838;
  font-size: 22px;
  font-weight: 600;
}